
#about {
    // font-family: 'Calligraffitti', cursive;
    font-family: sans-serif;
    font-size: 250%;
    font-weight: 700;

    .title-div {
        margin-top: 70px;
        margin-left: 70px;
        .tagline {
            &-hidden {
                display: none;
            }
            &-visible {
                display: block;
            font-family: sans-serif;
            }
        }
        .name {
            color: $dark-teal;
            &::after {
                color:white;
                overflow: hidden;
                display: inline-block;
                vertical-align: bottom;
                margin-left: 15px;
                -webkit-animation: ellipsis 2000ms steps(4,end) 1;  
                -webkit-animation-fill-mode: forwards;    
                content: "\2026"; 
                width:0;
                font-size: 50px;
            }
            @keyframes ellipsis {
                to {
                    width: 1.5em;  
                }
            }
            @keyframes ellipsis {
                to {
                    width: 1.5em;  
                }
            }
        }
    }
   
}
  
    // .about-title {
    //     grid-row: 1 / span 1;
    //     grid-column: 2 / span 2;

    // }

    // .about-subtitle {
    //     grid-row: 2 / span ;
    //     grid-column: 4 / span 2;

    // }


    // .hero-grid {
    //     display: grid;
    //     width: 100vw;
    //     height: 100vw;
    //     justify-content: center;
    //     align-content: center;
    //     grid-template-columns: repeat(9, 10vmin);
    //     grid-template-rows: repeat(9, 10vmin);
    // }










/*

middle area:
row 3 columns 3-5
row 4 columns 2-5
row 5 columns 3-5

*/

/*
need svgs in following areas:
    row 1 columns 1-7
    row 2 columns 1-7
    row 3 columns 1-2 & 6-7
    row 4 columns 1-2 & 6-7
    row 5 columns 1-2 & 6-7
    row 6 columns 1-7
    row 7 columns 1-7
    40 total grid squares to fill
 */