#about {
    .header-wrapper {
        font-family: sans-serif;
        font-weight: 700;
        flex-direction: column;
        position: absolute;
        top: 20%;
        @media(min-width: $phone) {
            min-width: $phone;
            padding:0 10px;
        }
        @media(min-width: $phablet) {
             min-width: $phablet;
             padding: 0 85px;
        }
        @media(min-width: $tablet) {
            min-width: $tablet;
            padding: 0 74px;
        }
        @media(min-width: $desktop) {
            min-width: $desktop;
            padding: 0 116px;
        }
    
        // font-family: 'Calligraffitti', cursive;
       

    .tagline {
        &-div {
            align-self: flex-end;           
        }
        &-hidden {
            display: none;
        }
       &-visible {
            display: block;
            font-family: sans-serif;
            color: $dark-teal;
            font-size: 25px;
            @media(min-width: $phablet) {
                font-size: 35px;   
            }
            @media(min-width: $tablet) {
                font-size: 55px;   
            }
            @media(min-width: $desktop) {
               font-size: 65px;  
            }
        

        }
    }
    .title-div {
        justify-content: flex-start;
        @media(min-width: $phone) {
            height: 50px;
        }
         @media(min-width: $phablet) {
            height: 65px;   
        }
        @media(min-width: $tablet) {
            height: 85px;   
        }
         @media(min-width: $desktop) {
            height: 95px;   
        }
        .name {
            color: $coral;
            font-size: 45px;
            @media(min-width: $phablet) {
                font-size: 55px;   
            }
            @media(min-width: $tablet) {
                font-size: 75px;   
            }
            @media(min-width: $desktop) {
               font-size: 85px;  
            }
         }
            .ellipsis {
                width: 50px;
                &:after {
                    color:white;
                    overflow: hidden;
                    display: inline-block;
                    margin-left: 5px;
                    -webkit-animation: ellipsis 2000ms steps(4,end) 1;  
                    // -webkit-animation-fill-mode: forwards;    
                    content: "\2026"; 
                    width: 0;
                    font-size: 45px;
                    @media(min-width: $desktop) {
                        font-size: 70px;  
                    }   
                }
                @keyframes ellipsis {
                    to {
                        width: 1.5em;  
                    }
                }
                @keyframes ellipsis {
                    to {
                        width: 1.5em;  
                    }
                }
            } 
         }
   }
}
  
    // .about-title {
    //     grid-row: 1 / span 1;
    //     grid-column: 2 / span 2;

    // }

    // .about-subtitle {
    //     grid-row: 2 / span ;
    //     grid-column: 4 / span 2;

    // }


    // .hero-grid {
    //     display: grid;
    //     width: 100vw;
    //     height: 100vw;
    //     justify-content: center;
    //     align-content: center;
    //     grid-template-columns: repeat(9, 10vmin);
    //     grid-template-rows: repeat(9, 10vmin);
    // }










/*

middle area:
row 3 columns 3-5
row 4 columns 2-5
row 5 columns 3-5

*/

/*
need svgs in following areas:
    row 1 columns 1-7
    row 2 columns 1-7
    row 3 columns 1-2 & 6-7
    row 4 columns 1-2 & 6-7
    row 5 columns 1-2 & 6-7
    row 6 columns 1-7
    row 7 columns 1-7
    40 total grid squares to fill
 */