#navbar {
    border: 25px solid transparent;
    a {
        color: $dark-teal;
        &:hover {
            color:$light-teal;
        }
    }
    .icon-container {
        justify-content: flex-end;
        margin-bottom: 5px;
        .social-icon {
            margin-left: 40px;
        }
    }
    .link-container {
        flex-direction: column;
        align-items: flex-end;
        .page-link {
            margin-bottom: 5px;
        }
    }
}