@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Calligraffitti&display=swap");

//Brand colors
// $light-pink: #FEF4FF;
$nav-green: #D3E8DB;
// $nav-green: #D5EADD;
// $pale-green: #d3e4da;
$pale-green: #D5EADD;
$dark-teal: #266969;
$light-teal: #39A0A0;
$pink: #edbbc1;
$coral: #ea7e6e;
$gold: #d8b217;

// Update Bulma's global variables
$family-sans-serif: 'Quattrocento Sans', sans-serif;
$primary: $dark-teal;
$danger: $coral;
$warning: $gold;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $pale-green;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$navbar-background-color: $nav-green;
$navbar-height: 5rem;
$navbar-padding-horizontal: 50rem;
$navbar-item-color: $light-teal;
$navbar-item-hover-color: $dark-teal;
$navbar-item-img-max-height: 5.75rem;
$navbar-item-hover-background-color: none;

$navbar-bottom-box-shadow-size: 0;

@import './_About';
@import './_Leaf';
@import './_Navbar';


// Import only what you need from Bulma
@import '././node_modules/bulma/sass/utilities/_all.sass';
@import '././node_modules/bulma/sass/base/_all.sass';
@import '././node_modules/bulma/sass/elements/button.sass';
@import '././node_modules/bulma/sass/elements/container.sass';
@import '././node_modules/bulma/sass/elements/title.sass';
@import '././node_modules/bulma/sass/components/navbar.sass';
@import '././node_modules/bulma/sass/layout/hero.sass';
@import '././node_modules/bulma/sass/layout/section.sass';